.promo{
  display: flex;
  align-self: center;
  width: 75%;
  height: 650px;
}
.promo__content{
  width: 50%;
}
.promo__content__label{
  margin-top: 50px;
  font-size: 38px;
  font-family: mullerRegular;
}
.promo__content__description{
  width: 440px;
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0px;
}
.promo__content__download_link{
  width: 150px;
  height: 58px;
  background-size: contain;
  background-image: url('../../assets/images/download-logo.png');
}
.promo__images{
  display: flex;
  width: 50%;
  position: relative;
}
.promo__panda-1{
  position: absolute;
  left: -50%;
  bottom: 50px;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/screen3-02.svg');
}
.promo__panda-2{
  position: absolute;
  left: -17%;
  bottom: 50px;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/screen3-03.svg');
}
.promo__phone{
  position: absolute;
  left: 37%;
  top: 25px;
}
.promo__phone__content{
  width: 238px;
  height: 416px;
  margin-left: 2px;
  margin-bottom: 24px;
}
.promo__phone__content img{
  width: 100%;
  height: 100%;
}
