.promo{
  display: flex;
  align-self: center;
  width: 75%;
  max-width: 1100px;
  height: 650px;
}
.promo__content{
  width: 50%;
}
.promo__content__label{
  margin-top: 50px;
  font-size: 38px;
  font-family: mullerRegular;
}
.promo__content__description{
  width: 440px;
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0px;
}
.promo__content__download_link{
  width: 150px;
  height: 58px;
  background-size: contain;
  background-image: url('../../assets/images/download-logo.png');
}
.promo__images{
  display: flex;
  width: 50%;
  position: relative;
}
.promo__panda-1{
  position: absolute;
  left: -50%;
  bottom: 50px;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/screen3-02.svg');
}
.promo__panda-2{
  position: absolute;
  left: -17%;
  bottom: 50px;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/screen3-03.svg');
}
.promo__phone{
  position: absolute;
  right: 0;
  top: 35px;
}
.promo__phone__content{
  width: 238px;
  height: 416px;
  margin-left: 2px;
  margin-bottom: 24px;
}
.promo__phone__content img{
  width: 100%;
  height: 100%;
}

/* MEDIA */
@media screen and (max-width: 1300px){
  .promo{
    width: 85%;
  }
  .promo__panda-1{
    left: -55%;
  }
  .promo__panda-2{
    left: -22%;
  }
}
@media screen and (max-width: 1024px){
  .promo{
    width: 90%;
  }
  .promo__panda-1{
    left: -70%;
  }
  .promo__panda-2{
    left: -37%;
  }
}
@media screen and (max-width: 950px){
  .promo__images{
    width: 65%;
  }
  .promo__content{
    width: 35%;
  }
  .promo__content__description{
    width: 380px;
  }
  .promo__panda-1{
    left: -60%;
  }
  .promo__panda-2{
    left: -27%;
  }
}
@media screen and (max-width: 720px){
  .promo{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .promo__content{
    width: 100%;
  }
  .promo__images{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .promo__phone{
    position: static;
  }
  .promo__content__description{
    width: 100%;
  }
  .promo__panda-1, .promo__panda-2, .promo__content__download_link{
    display: none;
  }
}
@media screen and (max-width: 567px){
  .promo__content__label, .promo__content__description{
    text-align: center;
  }
}
