.important__wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -400px;
}
.important{
  display: flex;
  width: 75%;
  height: 600px;
  align-self: center;
  margin-top: 100px;
}
.important__content{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.important__content__header{
  font-size: 38px;
  font-family: mullerRegular;
}
.important__content__text{
  margin-top: 40px;
  font-size: 18px;
  line-height: 25px;
}
.important__content__text p{
  margin: 0;
}
.important__image{
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/pandas1-05.svg');
}
