.app__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 500px;
  min-height: 100vh;
  height: 100%;
}
.background-gradient{
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  min-width: 500px;
  min-height: 800px;
  width: 100%;
  height: 100%;
  opacity: 0.21;
  position: absolute;
  top: 0;
  background: #00d4d4;
  background: -webkit-radial-gradient(35% bottom, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
  background: -o-radial-gradient(35% top, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
  background: -moz-radial-gradient(35% top, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
  background: radial-gradient(35% top, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
  z-index: -1;
}
.background-gradient__strip_first{
  width: 25%;
  height: 100%;
  left: 35%;
  -webkit-transform: skew(-32deg);
  -moz-transform: skew(-32deg);
  -o-transform: skew(-32deg);
  background: #00d4d4;
  background: -webkit-linear-gradient(bottom, #00d4d4, #00d4d4, #b4d2f5, #bff6cf);
  background: -o-linear-gradient(top, #00d4d4, #00d4d4, #b4d2f5, #bff6cf);
  background: -moz-linear-gradient(top, #00d4d4, #00d4d4, #b4d2f5, #bff6cf);
  background: linear-gradient(top, #00d4d4, #00d4d4, #b4d2f5, #bff6cf);
}
.background-gradient__strip_second{
  width: 15%;
  height: 100%;
  top: 0;
  left: 59%;
  -webkit-transform: skew(-32deg);
  -moz-transform: skew(-32deg);
  -o-transform: skew(-32deg);
  background: #00d4d4;
  background: -webkit-linear-gradient(bottom, #01dcbe, #01dcbe, #b4d2f5, #bff6cf);
  background: -o-linear-gradient(top, #01dcbe, #01dcbe, #b4d2f5, #bff6cf);
  background: -moz-linear-gradient(top, #01dcbe, #01dcbe, #b4d2f5, #bff6cf);
  background: linear-gradient(top, #01dcbe, #01dcbe, #b4d2f5, #bff6cf);
}
.background-gradient__strip_third{
  width: 25%;
  height: 100%;
  top: 0;
  left: 74%;
  -webkit-transform: skew(-32deg);
  -moz-transform: skew(-32deg);
  -o-transform: skew(-32deg);
  background: #00d4d4;
  background: -webkit-linear-gradient(bottom, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
  background: -o-linear-gradient(top, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
  background: -moz-linear-gradient(top, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
  background: linear-gradient(top, #00d4d4, #b4d2f5, #bfd8f6, #ffffff);
}
