.history{
  display: flex;
  width: 100%;
  height: 840px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: #06bad6;
  background: -webkit-linear-gradient(to right bottom, #02c9a7, #06bad6);
  background: -o-linear-gradient(to left top, #02c9a7, #06bad6);
  background: -moz-linear-gradient(to left top, #02c9a7, #06bad6);
  background: linear-gradient(to left top, #02c9a7, #06bad6);
}
.history__photo-frame{
  width: 160px;
  height: 110px;
  position: absolute;
  top: 60px;
  left: -80px;
  border: solid #e4f400 10px;
  -webkit-transform: skew(-19deg, 20deg);
  -moz-transform: skew(-19deg, 20deg);
  -o-transform: skew(-19deg, 20deg);
}
.history__slicer_top{
  width: 10000px;
  height: 150px;
  background-color: #ffffff;
  position: absolute;
  top: -100px;
  transform: rotate(-3deg);
}
.history__slicer_bottom{
  width: 10000px;
  height: 150px;
  background-color: #ffffff;
  position: absolute;
  bottom: -100px;
  transform: rotate(3deg);
}
.history__container{
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 1100px;
}
.history__container__label{
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 50px;
  font-family: mullerRegular;
  z-index: 1;
}
.history__container__description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.history__phone__content{
  width: 218px;
  height: 380px;
  margin-right: 2px;
  margin-bottom: 5px;
}
.history__phone__content img{
  width: 100%;
  height: 100%;
  border: solid black 1px;
}
.history__description__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 90px;
  width: 70%;
}
.history__description__text{
  display: flex;
  margin-top: 50px;
  font-size: 32px;
  line-height: 50px;
  color: #ffffff;
  font-family: mullerRegular;
}
.history__description__bubbles{
  position: relative;
  width: 100%;
  height: 250px;
}
.history__description__bubbles__item{
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  background: #e6f8f9;
  border-radius: 50%;
  height: 140px;
  width: 190px;
  padding: 10px;
}
.history__description__bubbles__item:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: #e6f8f9;
  border-bottom: 0;
  margin-left: -25px;
  margin-bottom: -25px;
}
.talk-bubble_1{
  position: absolute;
  top: -10%;
  left: 0;
}
.talk-bubble_2{
  position: absolute;
  right: 10%;
  top: 5%;
}
.talk-bubble_3{
  position: absolute;
  left: 30%;
  bottom: 5%;
}

/* MEDIA */
@media screen and (max-width: 1350px) and (min-width: 901px){
  .history__container{
    width: 90%;
  }
  .talk-bubble_1{
    top: -30%;
  }
  .talk-bubble_2{
    left: 50%;
    top: -20%;
  }
  .talk-bubble_3{
    left: 26%;
  }
  .history__container__label{
    text-align: center;
  }
  .history__description__wrapper{
    margin-left: 0px;
  }
}
@media screen and (max-width: 900px){
  .history__container{
    width: 100%;
  }
  .talk-bubble_1{
    top: -30%;
  }
  .talk-bubble_2{
    left: 50%;
    top: -10%;
  }
  .talk-bubble_3{
    left: 20%;
  }
  .history__container__label{
    text-align: center;
    margin-top: 100px;
  }
  .history__description__wrapper{
    margin-left: 0px;
  }
}
@media screen and (max-width: 780px) and (min-width: 700px){
  .history__description__text{
    font-size: 28px;
    line-height: 35px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .talk-bubble_1{
    top: -40%;
  }
  .talk-bubble_2{
    left: 45%;
    top: -25%;
  }
  .talk-bubble_3{
    left: 20%;
  }
}
@media screen and (max-width: 700px) and (min-width: 580px){
  .history{
    height: 1300px;
  }
  .history__phone{
    display: flex;
    justify-content: center;
    margin-top: 180px;
  }
  .history__phone__content img{
    width: 218px;
  }
  .history__container__description{
    flex-direction: column;
  }
  .history__description__wrapper{
    width: 100%;
  }
  .history__description__text{
    text-align: center;
  }
  .history__photo-frame{
    left: -100px;
    top: 5px;
  }
  .history__description__bubbles{
    height: 0px;
  }
  .history__description__bubbles__item{
    height: 100px;
    width: 140px;
  }
  .history__container__label{
    text-align: center;
    margin-top: 0px;
    font-size: 34px;
  }
  .talk-bubble_1{
    top: -660px;
    left: 13%;
  }
  .talk-bubble_2{
    top: -690px;
    left: 60%;
  }
  .talk-bubble_3{
    top: -600px;
    left: 39%;
  }
}
@media screen and (max-width: 579px){
  .history__phone{
    display: flex;
    justify-content: center;
  }
  .history__phone__content img{
    width: 218px;
  }
  .history{
    height: 1100px;
  }
  .history__container__label{
    margin-bottom: 20px;
  }
  .history__container__description{
    flex-direction: column;
  }
  .history__description__bubbles{
    display: none;
  }
  .history__description__wrapper{
    width: 100%;
  }
  .history__description__text{
    margin-top: 0px;
    text-align: center;
  }
}
