.phone{
  box-sizing: border-box;
  padding: 16.6% 3.8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone_color_black, .phone_color_white{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.phone_color_black{
  background-image: url(../../../assets/images/phone-black.svg);
}
.phone_color_white{
  background-image: url(../../../assets/images/phone-white.svg);
}

.phone_size_s{
  width: 228px;
  height: 442px;
}
.phone_size_m{
  width: 240px;
  height: 466px;
}
.phone_size_l{
  width: 300px;
  height: 523px;
}
